.profile {
  height: 100vh;
  color: white;
}

.profile__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profile__info {
  display: flex;
}

.profile__details {
  color: white;
  flex: 1;
  margin-left: 25px;
}

.profile__body > h3 {
  font-size: 40px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profile__details > h2 {
  font-size: 15px;
  padding: 15px;
  padding-left: 20px;
  background-color: gray;
}

.profile__info > img {
  height: 100px;
}

.profile__plans {
  margin-top: 20px;
}

.profile__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profile__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}
